/* Body
*/

body {
  /*scrolling beholder*/
  background-image: url("../images/Beholder_3E.jpg");
  background-repeat: repeat-x|repeat-y;
  /*scrolling beholder*/
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.car-right {
  position: absolute;
  top: 86%;
  left: -200px;
  z-index: 10;
  background-color: red;
    
  animation-duration: 1s;
  animation-name: goRight;
  animation-iteration-count: infinite;
    
  -moz-animation-duration: 1s;
  -moz-animation-name: goRight;
  -moz-animation-iteration-count: infinite;
}

@keyframes goRight {
  from {
    -webkit-transform: translate(0,0);
  }

  to {
    -webkit-transform: translate(1920px,0);
  }
}

@-moz-keyframes goRight {
  from {
    -moz-transform: translate(0,0);
  }

  to {
    -moz-transform: translate(1920px,0);
  }
}

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
  background-image: url("../images/DnD.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0px;
}

header h1 {
  margin-left: 5%;
  margin-right: 25%;
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  text-shadow: 2px 2px black;
}

header h2 {
  margin-left: 5%;
  margin-right: 25%;
  font-size: 18px;
  font-weight: 300;
  color: white;
  text-shadow: 2px 2px black;
}

.container {
  background-color: rgba(255,255,255,0.9);
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 75%;
  padding-right: 10px;
  padding-left: 10px;
}

/* Buttons
*/s

.buttons {
Margin-top: 10px;
margin-left: 10px;	
}

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 1), rgba(35, 35, 35, 1) 50%, rgba(10, 10, 10, 1.2) 50%, rgba(0, 0, 0, 1.2));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 1.0;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}
#downloads{
  Margin-rip: 10px;
  margin-left: 10px;	
}
#downloads .btn {
  display: inline-block;
  text-align: center;
}

/* Main Content
*/

#main_content {
  margin-left: 10px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: black;
  text-decoration: underline;
  letter-spacing: -0.03em;
}

#main_content h1 {
  font-size: 30px;
}

#main_content h2 {
  font-size: 24px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

#countbox1{
	font-size:20px;
}

iframe {
	margin-left: 0px;
	align: center;
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: #63c0f5;
}
